- player = Player.for_user(game,user)
%tr{class: (player.team == game.winning_team ? 'success' : 'danger')}
  %td= game.show_link
  %td
    - game.teams.each_with_index do |team,i|

      %p{class: (i == 0 ? 'pull-right' : '')}
        %span{class: team.css_class}= team.color+': '+team.score.to_s+ ' - '

        - len = team.users.count-1
        - team.users.each_with_index do |u,idx|
          = (u.show_link)+(idx >= len ? '' : ',')
  %td
    = user.points_for(game)
