%tr
  %td= l game.created_at, format: :long
  %td
    - game.teams.each_with_index do |team,i|
      %p{class: (i == 0 ? 'pull-right' : '')}
        %span{class: team.color.downcase}= team.color+': '
        - len = team.users.count-1
        - team.users.each_with_index do |u,idx|
          = (link_to u.name, u)+(idx >= len ? '' : ',')
  %td
    = @user.points_for(game)